

footer{
    width: 100%;
    height: 50px;
    background: #2DA89B;
    text-align: center;
    padding-top: 11px;
            .codeBit{
                color: white;
                font-family: 'Times New Roman', Times, serif;

            }
}